.card-set {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card-set__item {
  &:first-child {
    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.card-set__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
}

.card-set__overlay {
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .card-set__link:hover &,
  .card-set__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-set__overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
}

.card-set__content {
  flex-grow: 1;
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.card-set__title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-set__text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
}
