.section--other-background {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__title {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials__item + .socials__item {
  margin-left: 10px;
}
